@model study4_be.Models.Course

@{
    ViewData["Title"] = "Create Course";
}

<h2>Course Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Course_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="CourseName">Name</label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="CourseDescription">Description</label>
                    <input asp-for="CourseDescription" class="form-control" />
                    <span asp-validation-for="CourseDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="CoursePrice">Price</label>
                    <input asp-for="CoursePrice" class="form-control" />
                    <span asp-validation-for="CoursePrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="CourseTag">Tag</label>
                    <input asp-for="CourseTag" class="form-control" />
                    <span asp-validation-for="CourseTag" class="text-danger"></span>
                </div>
              @*   <div class="form-group">
                    <label>File upload</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                            <label for="uploadimg" class="file-upload-browse btn btn-gradient-primary" type="button">Upload</label>
                            <input id="uploadimg" style="display:none" type="file" name="CourseImage" onchange="ChangeImage(this,document.getElementById('previewImg'))" />
                        </span>
                    </div>
                    <img src="" height="150" width="150" id="previewImg" />
                </div> *@
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ChangeImage(input, previewImg) {
            var reader = new FileReader();
            reader.onload = function (e) {
                previewImg.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
} *@
