<style>
    .course__create-btn{
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration:none;
        text-align:center;
    }

    .course__create-btn:hover{
        opacity: 0.8;
    }
</style>


<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Tag</th>
                    <th>Options</th>

                </tr>
            </thead>
            <tbody>
@*                 Foreach should be here *@
                    <tr>
                        <td>
                            <img style="border-radius:0%!important" src="https://png.pngtree.com/element_our/png_detail/20180918/science-png_102086.jpg" height="150" width="150" id="previewImg" />
                        </td>
                        <td>
                            <p>123</p>
                        </td>
                        <td>
                            <p>123</p>
                        </td>
                        <td>
                            <p>123</p>
                        </td>
                    <td>
                        <p>123</p>
                    </td>
                    <td>
                        <p>123</p>
                    </td>
                        <td>
                            <a href="@Url.ActionLink("Course_Edit","Courses")" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                        <a href="@Url.ActionLink("Course_Delete","Courses")" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                        <a href="@Url.ActionLink("Course_Details","Courses")" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                

            </tbody>
        </table>
    </div>
    <a href="@Url.ActionLink("Course_Create","Courses")" class="course__create-btn">Create</a>
</div>