@model study4_be.Models.Course
<style>
    .flex{
        margin-top: 20px;
        display: flex;
        align-items:center;
    }
</style>


<div class="form-horizontal">
    <h4>Course</h4>
    <hr />
    <div class="card-body">
        <p class="card-description"> Edit</p>
        <form asp-action="Course_Create" method="post" enctype="multipart/form-data" class="forms-sample">
            <div class="form-group">
                <label for="CourseName">Name</label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CourseDescription">Description</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CoursePrice">Price</label>
                <input asp-for="CoursePrice" class="form-control" />
                <span asp-validation-for="CoursePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CourseTag">Tag</label>
                <input asp-for="CourseTag" class="form-control" />
                <span asp-validation-for="CourseTag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>File upload</label>
                <img src="https://thesavvyimg.co.uk/wp-content/uploads/2022/08/the-savvy-img-online-courses-masterclass-shortcut-plab-gmc-registration.png" height="150" width="150" id="previewImg" />
                <input type="file" name="UploadImage" onchange="ChangeImage(this, document.getElementById('previewImg'))" class="file-upload-default">
            </div>
            <div class="flex">
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
            </div>
        </form>
    </div>
</div>