@model study4_be.Models.UserCourse

@{
    ViewData["Title"] = "Create Course";
}

<h2>Course Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Buy_Course" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="CourseName">ID Course</label>
                    <input asp-for="CourseId" class="form-control" />
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="CourseDescription">ID Number</label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ChangeImage(input, previewImg) {
            var reader = new FileReader();
            reader.onload = function (e) {
                previewImg.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
} *@
