@model study4_be.Models.Container

@{
    ViewData["Title"] = "Create Course";
}

<h2>Course Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Container_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="UnitId">UnitId</label>
                    <input asp-for="UnitId" class="form-control" />
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>

