@model study4_be.Models.ViewModel.QuestionCreateViewModel
<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>

<h2>Question Create</h2>


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create </p>
            <form asp-action="Question_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="question.QuestionText">QuestionText</label>
                    <input asp-for="question.QuestionText" class="form-control" />
                    <span asp-validation-for="question.QuestionText" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label for="question.QuestionAudio">Question Audio</label>
                    <input asp-for="question.QuestionAudio" class="form-control" />
                    <span asp-validation-for="question.QuestionAudio" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label for="question.QuestionTranslate">Question Translate</label>
                    <input asp-for="question.QuestionTranslate" class="form-control" />
                    <span asp-validation-for="question.QuestionTranslate" class="text-danger"></span>
                </div>  
                <div class="form-group">
                    <label for="question.QuestionImage">Question Image</label>
                    <input asp-for="question.QuestionImage" class="form-control" />
                    <span asp-validation-for="question.QuestionImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="question.OptionA">OptionA</label>
                    <input asp-for="question.OptionA" class="form-control" />
                    <span asp-validation-for="question.OptionA" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="question.OptionB">OptionB</label>
                    <input asp-for="question.OptionB" class="form-control" />
                    <span asp-validation-for="question.OptionB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="question.OptionC">OptionC</label>
                    <input asp-for="question.OptionC" class="form-control" />
                    <span asp-validation-for="question.OptionC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="question.OptionD">OptionD</label>
                    <input asp-for="question.OptionD" class="form-control" />
                    <span asp-validation-for="question.OptionD" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="question.CorrectAnswer">CorrectAnswer</label>
                    <input asp-for="question.CorrectAnswer" class="form-control" />
                    <span asp-validation-for="question.CorrectAnswer" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="question.LessonId">Lesson</label>
                    <select asp-for="question.LessonId" class="form-control" asp-items="Model.lesson"></select>
                    <span asp-validation-for="question.LessonId" class="text-danger"></span>
                </div>

                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>