@model study4_be.Models.ViewModel.VideoCreateViewModel

@{
    ViewData["Title"] = "Create Video";
}

<h2>Video Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Video_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="videos.VideoUrl">VideoUrl</label>
                    <input asp-for="videos.VideoUrl" class="form-control" />
                    <span asp-validation-for="videos.VideoUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="videos.LessonId">Lesson</label>
                    <select asp-for="videos.LessonId" class="form-control" asp-items="Model.Lessons"></select>
                    <span asp-validation-for="videos.LessonId" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Video_List", "Video", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>
