@model study4_be.Models.ViewModel.VocabCreateViewModel

@{
    ViewData["Title"] = "Vocabulary";
}

<h2>Vocab Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Vocab Create</p>
            <form asp-action="Vocab_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="vocab.VocabType">Vocab Type</label>
                    <input asp-for="vocab.VocabType" class="form-control" />
                    <span asp-validation-for="vocab.VocabType" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label for="vocab.VocabTitle">Vocab Tittle</label>
                    <input asp-for="vocab.VocabTitle" class="form-control" />
                    <span asp-validation-for="vocab.VocabType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="vocab.Mean">Vocab Mean</label>
                    <input asp-for="vocab.Mean" class="form-control" />
                    <span asp-validation-for="vocab.Mean" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="vocab.Example">Example</label>
                    <input asp-for="vocab.Example" class="form-control" />
                    <span asp-validation-for="vocab.Example" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="vocab.Explanation">Explanation</label>
                    <input asp-for="vocab.Explanation" class="form-control" />
                    <span asp-validation-for="vocab.Explanation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="vocab.AudioUrlUs">AudioUrl Us</label>
                    <input asp-for="vocab.AudioUrlUs" class="form-control" />
                    <span asp-validation-for="vocab.AudioUrlUs" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="vocab.AudioUrlUk">AudioUrl Uk</label>
                    <input asp-for="vocab.AudioUrlUk" class="form-control" />
                    <span asp-validation-for="vocab.AudioUrlUk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="vocab.LessonId">Lesson</label>
                    <select asp-for="vocab.LessonId" class="form-control" asp-items="Model.lesson"></select>
                    <span asp-validation-for="vocab.LessonId" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Vocab_List", "Vocab", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>
