@model study4_be.Models.Vocabulary
<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>


<div class="form-horizontal">
    <h4>Unit</h4>
    <hr />
    <div class="card-body">
        <p class="card-description"> Edit</p>
        <form asp-action="Vocab_Edit" method="post" enctype="multipart/form-data" class="forms-sample">
            <div class="form-group">
                <label for="VocabType">VocabType</label>
                <input asp-for="VocabType" class="form-control" />
                <span asp-validation-for="VocabType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Mean">Mean</label>
                <input asp-for="Mean" class="form-control" />
                <span asp-validation-for="Mean" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Example">Example</label>
                <input asp-for="Example" class="form-control" />
                <span asp-validation-for="Example" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Explanation">Explanation</label>
                <input asp-for="Explanation" class="form-control" />
                <span asp-validation-for="Explanation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="AudioUrlUs">AudioUrlUs</label>
                <input asp-for="AudioUrlUs" class="form-control" />
                <span asp-validation-for="AudioUrlUs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="AudioUrlUk">AudioUrlUk</label>
                <input asp-for="AudioUrlUk" class="form-control" />
                <span asp-validation-for="AudioUrlUk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="LessonId">LessonId</label>
                <input asp-for="LessonId" class="form-control" />
                <span asp-validation-for="LessonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Lesson">Lesson</label>
                <input asp-for="Lesson" class="form-control" />
                <span asp-validation-for="Lesson" class="text-danger"></span>
            </div>
            <div class="flex">
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
            </div>
        </form>
    </div>
</div>