@model study4_be.Models.Audio
<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>

<h2>Audio Create</h2>


<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create </p>
            <form asp-action="Audio_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="AudioUrl">AudioUrl</label>
                    <input asp-for="AudioUrl" class="form-control" />
                    <span asp-validation-for="AudioUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="AudioDescription">AudioDescription</label>
                    <input asp-for="AudioDescription" class="form-control" />
                    <span asp-validation-for="AudioDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Lesson">Lesson</label>
                    <input asp-for="Lesson" class="form-control" />
                    <span asp-validation-for="Lesson" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>