@model study4_be.Models.Audio
<style>
    .flex {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
</style>


<div class="form-horizontal">
    <h4>Audio</h4>
    <hr />
    <div class="card-body">
        <p class="card-description"> Edit</p>
        <form asp-action="Audio_Edit" method="post" enctype="multipart/form-data" class="forms-sample">
            <div class="form-group">
                <label for="AudioUrl">AudioUrl</label>
                <input asp-for="AudioUrl" class="form-control" />
                <span asp-validation-for="AudioUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="AudioDescription">AudioDescription</label>
                <input asp-for="AudioDescription" class="form-control" />
                <span asp-validation-for="AudioDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Lesson">Lesson</label>
                <input asp-for="Lesson" class="form-control" />
                <span asp-validation-for="Lesson" class="text-danger"></span>
            </div>
            <div class="flex">
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                @Html.ActionLink("Cancel", "Audio_List", "Audio", null, new { @class = "btn btn-light" })
            </div>
        </form>
    </div>
</div>