@model study4_be.Models.ViewModel.UnitCreateViewModel

@{
    ViewData["Title"] = "Unit Create";
}

<h2>Unit Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Unit_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Units.UnitTittle">Unit Title</label>
                    <input asp-for="Units.UnitTittle" class="form-control" />
                    <span asp-validation-for="Units.UnitTittle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Units.CourseId">Course</label>
                    <select asp-for="Units.CourseId" class="form-control" asp-items="Model.Courses"></select>
                    <span asp-validation-for="Units.CourseId" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>
