@model study4_be.Models.Translate

@{
    ViewData["Title"] = "Translate";
}

<h2>Unit Create</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card">
        <div class="card-body">
            <p class="card-description">Create</p>
            <form asp-action="Translate_Create" method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label for="Hint">Hint</label>
                    <input asp-for="Hint" class="form-control" />
                    <span asp-validation-for="Hint" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Text">Text</label>
                    <input asp-for="Text" class="form-control" />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Answer">Answer</label>
                    <input asp-for="Answer" class="form-control" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="LessonId">LessonId</label>
                    <input asp-for="LessonId" class="form-control" />
                    <span asp-validation-for="LessonId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Lesson">Lesson</label>
                    <input asp-for="Lesson" class="form-control" />
                    <span asp-validation-for="Lesson" class="text-danger"></span>
                </div>
                <div class="flex">
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-light" })
                </div>
            </form>
        </div>
    </div>
</div>
